
.main{
    /* border: 1px solid red; */
    border: none;
    /* width: 1000px; */
    width: 100%;
    height: 100%;
    background-color: #EFEFEF;

}
.blue{
    background-color: #1C5CFF;
    width: 30.38px;
    height: 30.38px;
    top: 62.41px;
    left: 108.4px;
    border-radius: 15.19px;

}
.coranu{
    width: 1322px;
    height: 1420px;
    top: -2191px;
    left: 3367px;
    background-color: #EFEFEF;
    /* border: 1px solid red; */


}
.tis{
    /* border: 1px solid red; */
    padding-top: 50px;
    padding-left: 100px;
width: 100%;
height: 90px;

}
.tis-para{
    padding-top: 50px;
    padding-left: 40px;
    font-weight: 600;
}
#trending{
    padding-top: 50px;
    color: #1C5CFF;
    display: flex;
    justify-content: center;
}
.topics{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.topics ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.topics li {
    background-color: #e1e9ee;
    color: #0073b1;
    border-radius: 15px;
    padding: 8px 12px;
    margin: 5px;
    font-size: 14px;
}

#get{
    padding-top: 20px;
    color: #1C5CFF;
    display: flex;
    justify-content: center;
}


.navbar-content {
    width: 100%;
    text-align: center;  /* Center the content horizontally */
  }
  
  .btn {
    display: inline-block; /* Ensure the button is treated as an inline element */
  }
  

  
  


